* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


    

html body {
    height: 100%;
    background-color:black;
}

.hero-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/Resource Hero Image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
}
    
h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

p {
    font-size: 50px;
    font: bolder;
    color: white;
    padding-top: 10%;
}

.resources {
    font-size:30px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: grey;
    width: 270px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    background-color: darkolivegreen;
    height: 170px;
    margin-bottom: 15px ;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1 {
    background-image: url("image/prisoncondition.jpeg");
    
}

.car-2 {
    background-image: url("image/Weed Resource Page.jpeg");
}

.car-3 {
    background-image: url("image/privateownership.png");

}

.card a {
    background-color: black;
    color: white;
    padding: 10px 15px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    padding: 10px;
}

.card:hover {
    background-color: darkolivegreen;
    color: white;
    cursor: pointer;
}




